h3,
p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin: 10px 20px;
  background-color: rgb(204, 213, 213);
  padding: 20px;
  // drop shadow
  box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.75);
  
}

.row {
  display: flex;
  // border: 1px solid blue;
  padding: 10px 0;
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    
  }
}

.item-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px 0 0;

  input {
    height: 100%;
  }
}


.styled-button {
  background-color: #4CAF50; /* Set the background color */
  border: none; /* Remove the default button border */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove the default text underline */
  display: inline-block; /* Display the button as an inline element */
  font-size: 12px; /* Set the font size */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  border-radius: 4px; /* Add rounded corners */
}

.selected-button {
  background-color: #000000;
  border: none; /* Remove the default button border */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove the default text underline */
  display: inline-block; /* Display the button as an inline element */
  font-size: 12px; /* Set the font size */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  border-radius: 4px; /* Add rounded corners */
}

/* Change the background color on hover */
.styled-button:hover {
  background-color: #45a049;
}
