<div class="card">
  <div class="header">
    <mat-icon>info</mat-icon>
    <div class="verticalStack">
      2023
      {{plan.operation | titlecase }}
      {{plan.swathWidth}}
    </div>
    <mat-icon>crop_square</mat-icon>
  </div>
  <img src="{{plan.image}}" alt="plan image" class="pic">
  <div class="info-wrapper">
    <div class="row underline">
      <p>Total Distance:</p>
      <p>{{plan.totalDistance}}</p>
    </div>
    <div class="row underline">
      <p>Number of Tracks:</p>
      <p>{{plan.numberOfTracks}}</p>
    </div>
    <div class="row underline">
      <p>Headings: </p>
      <p>{{plan.headings}}</p>
    </div>
    <div class="row underline">
      <p>Swath Width: </p>
      <p>{{plan.swathWidth}}</p>
    </div>
    <div class="row underline">
      <p>Grower: </p>
      <p>{{plan.grower}}</p>
    </div>
    <div class="row underline">
      <p>Farm:</p>
      <p> {{plan.farm}}</p>
    </div>

    <div class="tray">
      <mat-icon>info</mat-icon>
      <mat-icon>remove_red_eye</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>

</div>