.card {
  margin: 10px 20px;
  background-color: rgb(204, 213, 213);
  box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.75);

  .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;  
    margin: 0 10px;
    
    .row {
      display: flex;
      margin: 5px 0;

      justify-content: space-between;
      align-items: center;
    }

    .tray {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px;
    }
  }
}

.pic {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 7px 10px;
  justify-content: space-between;
  align-items: center;
  
  .verticalStack {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}

.underline {
  border-bottom: 1px solid rgb(248, 248, 248);
}

.tray {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  margin: 0;
  padding: 0;
}